/.vs/config/applicationhost.config
/.vs/config/applicationhost.config
/.vs/Doppler.Integrations/DesignTimeBuild/.dtbcache
/.vs/Doppler.Integrations/v15/.suo
/.vs/Doppler.Integrations/v15/Server/sqlite3/db.lock
/.vs/Doppler.Integrations/v15/Server/sqlite3/storage.ide
/.vs/Doppler.Integrations/v15/Server/sqlite3/storage.ide-shm
/.vs/Doppler.Integrations/v15/Server/sqlite3/storage.ide-wal
/.vs/config/applicationhost.config
/Doppler.Integrations/bin/Production/netcoreapp2.0/Doppler.Integrations.deps.json
/Doppler.Integrations/bin/Production/netcoreapp2.0/Doppler.Integrations.dll
/Doppler.Integrations/bin/Production/netcoreapp2.0/Doppler.Integrations.pdb
/Doppler.Integrations/bin/Production/netcoreapp2.0/Doppler.Integrations.runtimeconfig.dev.json
/Doppler.Integrations/bin/Production/netcoreapp2.0/Doppler.Integrations.runtimeconfig.json
/Doppler.Integrations/obj/Production/netcoreapp2.0/Doppler.Integrations.AssemblyInfo.cs
/Doppler.Integrations/obj/Production/netcoreapp2.0/Doppler.Integrations.AssemblyInfoInputs.cache
/Doppler.Integrations/obj/Production/netcoreapp2.0/Doppler.Integrations.assets.cache
/Doppler.Integrations/obj/Production/netcoreapp2.0/Doppler.Integrations.csproj.CoreCompileInputs.cache
/Doppler.Integrations/obj/Production/netcoreapp2.0/Doppler.Integrations.csproj.FileListAbsolute.txt
/Doppler.Integrations/obj/Production/netcoreapp2.0/Doppler.Integrations.csprojAssemblyReference.cache
/Doppler.Integrations/obj/Production/netcoreapp2.0/Doppler.Integrations.dll
/Doppler.Integrations/obj/Production/netcoreapp2.0/Doppler.Integrations.pdb
/Doppler.Integrations/WebApplicationUnBounceMapper.log
/Doppler.Integrations/WebApplicationUnBounceMapper.log
/Doppler.Integrations/WebApplicationUnBounceMapper.log
/Doppler.Integrations/obj/Doppler.Integrations.csproj.nuget.cache
/Doppler.Integrations/obj/Doppler.Integrations.csproj.nuget.g.props
/Doppler.Integrations/obj/Doppler.Integrations.csproj.nuget.g.targets
*/obj/*
